###### 		          To Dev Version       ######
###### Requirements without Version Specifiers ######
######      pip install -r requeriment.txt     ######
numpy
scipy
cython
gmsh
matplotlib
vedo
colorama
art
numdifftools
jax[cpu]
mkdocs
python-markdown-math
mkdocs-with-pdf
mkdocstrings[python]
mkdocstrings-python
mkdocs-mermaid2-plugin
flake8
black
isort
interrogate
line_profiler
pytest

