###### Requirements without Version Specifiers ######
numpy
scipy
numba
cpython
gmsh
vedo
colorama
art
sphinx

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers


###### Refer to other requirements files ######