
name: Version numbering

on:
  push:
    branches:
      - master

jobs:
  check-version:
    name: Check version number
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install PyGitHub
      run: pip3 install PyGitHub
    - name: Check version number and make release if necessary
      run: python .github/scripts/version.py ${{ secrets.SONAR_TOKEN }}
